* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*setting font family*/
	font-family: "Open Sans", sans-serif;
}

/*navbar*/
nav {
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid black;
}

nav > ul {
	list-style-type: none;
}

nav li {
	margin: .5rem;
	display: inline-block;
	vertical-align: middle;
}

/*,-multiple selector;
  	used to select multiple selectors with different type/class/id	*/

/*  the devs have the freedome to separate the brand logo from its navbar to highlight the brand itself or to include it with the navbar to save space   */

/*nav #nav-logo, nav .nav {
	margin: .5rem;
	display: inline;
}*/

/*intro section*/
#intro {
	/*using % in margin or padding will use n% of the screen size as its margin or padding*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro > h2, #intro > p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	/*font weight 
		changes the thickness of the element*/
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

/*info section*/
#info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info > h2 {
	margin-bottom: 1.2rem;
}

#info > .card {
	border: 1px solid black;
	display: inline-block;
	/*using % for width will consume n% of the user screen size.*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	/*aligns the .card elements at the top of their line*/
	vertical-align: top;
	/*sets the minimum height for the content.*/
	min-height: 150px;
}

#info h3 {
	margin-bottom: 1rem;
}

/*footer*/
footer {
	padding: .8rem;
	text-align: center;
}

footer span {
	margin-left: .5rem;
	margin-right: .5rem;
}