* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*info section*/
#info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info > h2 {
	margin-bottom: 1.2rem;
}

#info > .card {
	border: 1px solid black;
	display: inline-block;
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	vertical-align: top;
	min-height: 150px;
}

#info h3 {
	margin-bottom: 1rem;
}

/*prefoot*/
.prefooter {
	background-color: black;
	padding: 40px;
	color: white;
}


/*.cardFoot {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	margin-left: 40px;
}*/

.prefooter div {
	padding-right: 150px;
}

.cardFoot {
	display: inline-block;
}

.cardFoot li {
	list-style-type: none;
	padding-top: 10px;
}

#bold {
	font-weight: bold;
}




/*footer*/
footer {
	padding: .8rem;
	text-align: center;
}

footer span {
	margin-left: .5rem;
	margin-right: .5rem;
}